In [5]:
import pandas as pd  

data = {  
    'coders Name': ['N', 't', 'y', 'b'], # seperate element
    'Marks': [2, 4, 5, 6]  
}  

df = pd.DataFrame(data)  

print(df)

  coders Name  Marks
0           N      2
1           t      4
2           y      5
3           b      6

In [7]:
# median is a two step
#1- sort the data
#2- find the mid value

median_marks =  df['Marks'].median()
median_marks

4.5

# Box plot 
1. Minimum - smallest value excluding outliers
Q1 -25th percentile, mid value b/w min and median
Q2 -median - 50th percentile , mid value of data set
Q3 - 75th percentile , mid value of median and max
max - largest value excluding outliers
IQR q3-q1
outliers -> q1-1.5*IQR
         ->q3+1.5*IQR

import pandas as pd
data2 = {
    "Name": ["Nish", "Ish", "Prajwal", "Rajesh"],
    "Age": [30, 30, 45, 50]
}
df = pd.DataFrame(data2)
print(df)

Task Day 4 : Go to the given website and download the rankings dataset. Then perform the given task according to the instructions.
https://www.kaggle.com/datasets/matheusgratz/world-university-rankings-2021
- instructions
1. Inspect the dataset.
2. Handle missing data choosing the best imputation method.
3. Detect and remove duplicates
4. Detect and remove outliers (using either Z-scores or IQR.)

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r"C:\Users\Acer\Documents\BDA3.3\week 2\University.csv")
print(df)

      ranking                                           title        location  \
0           1                            University of Oxford  United Kingdom
1           2                             Stanford University   United States
2           3                              Harvard University   United States
3           4              California Institute of Technology   United States
4           5           Massachusetts Institute of Technology   United States
...       ...                                             ...             ...
1521     1522                              Yuan Ze University          Taiwan
1522     1523  Yuriy Fedkovych Chernivtsi National University         Ukraine
1523     1524                              Zagazig University           Egypt
1524     1525                            University of Zagreb         Croatia
1525     1526                            University of Žilina        Slovakia

     number students  students staff ratio perc intl students gender ratio
0             20,774                  11.1                41%      46 : 54
1             16,223                   7.4                23%      44 : 56
2             21,261                   9.3                25%      49 : 51
3              2,238                   6.3                33%      36 : 64
4             11,276                   8.4                34%      39 : 61
...              ...                   ...                ...          ...
1521           8,188                  19.7                 7%      42 : 58
1522          12,616                  10.7                 0%      57 : 43
1523         156,270                  24.4                 2%      54 : 46
1524          59,336                  15.3                 3%      59 : 41
1525           7,136                  11.7                 2%      34 : 66

[1526 rows x 7 columns]

In [2]:
# show the basic information about the data set for eg : column ,non null ,counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526 entries, 0 to 1525
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ranking               1526 non-null   int64
 1   title                 1526 non-null   object
 2   location              1526 non-null   object
 3   number students       1526 non-null   object
 4   students staff ratio  1526 non-null   float64
 5   perc intl students    1526 non-null   object
 6   gender ratio          1453 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 83.6+ KB
None

In [3]:
# show statistical summary of numerical column
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1526 entries, 0 to 1525
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ranking               1526 non-null   int64
 1   title                 1526 non-null   object
 2   location              1526 non-null   object
 3   number students       1526 non-null   object
 4   students staff ratio  1526 non-null   float64
 5   perc intl students    1526 non-null   object
 6   gender ratio          1453 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 83.6+ KB
None

In [4]:
# Show statistical summary of numerical columns
print(df.describe())

           ranking  students staff ratio
count  1526.000000           1526.000000
mean    763.500000             18.778571
std     440.662569             13.818076
min       1.000000              0.900000
25%     382.250000             12.200000
50%     763.500000             16.100000
75%    1144.750000             21.875000
max    1526.000000            339.100000

In [5]:
#now handling  Missing Data
# Inspect Missing Data
print(df.isnull().sum()) #count the missing values in each column

ranking                  0
title                    0
location                 0
number students          0
students staff ratio     0
perc intl students       0
gender ratio            73
dtype: int64

In [6]:
print(df['gender ratio'].dtype)

object

In [7]:
print(df['gender ratio'].head())

0    46 : 54
1    44 : 56
2    49 : 51
3    36 : 64
4    39 : 61
Name: gender ratio, dtype: object

In [8]:

# Convert 'gender ratio' column to numeric, coercing errors into NaN
df['gender ratio'] = pd.to_numeric(df['gender ratio'], errors='coerce')

In [9]:
# filling in the missing 
df['gender ratio'] = df['gender ratio'].fillna(df['gender ratio'].mean())

In [10]:
print(df.isnull().sum())

ranking                    0
title                      0
location                   0
number students            0
students staff ratio       0
perc intl students         0
gender ratio            1526
dtype: int64

In [14]:
# Convert 'number students' to numeric, coercing errors into NaN
df['number students'] = pd.to_numeric(df['number students'], errors='coerce')

# Drop rows where 'number students' is NaN (if any)
df = df.dropna(subset=['number students'])

# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['number students'].quantile(0.25)
Q3 = df['number students'].quantile(0.75)

# Calculate the IQR (Interquartile Range)
IQR = Q3 - Q1

# Define the outlier bounds using 1.5 * IQR rule
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Print outlier bounds to inspect
print(f"Lower bound: {lower_bound}")
print(f"Upper bound: {upper_bound}")

# Filter the dataset to remove rows where the 'number students' column has outliers
df_filtered = df[(df['number students'] >= lower_bound) & (df['number students'] <= upper_bound)]

# Show the number of rows before and after filtering outliers
print(f"Rows before removing outliers: {len(df)}")
print(f"Rows after removing outliers: {len(df_filtered)}")

# Optionally, you can print the first few rows to inspect the cleaned data
print(df_filtered.head())

Lower bound: 752.5
Upper bound: 988.5
Rows before removing outliers: 9
Rows after removing outliers: 7
     ranking                               title        location  \
240      241                       Télécom Paris          France
253      254  Brighton and Sussex Medical School  United Kingdom
589      590                    Télécom SudParis          France
693      694           Kansai Medical University           Japan
738      739               Nippon Medical School           Japan

     number students  students staff ratio perc intl students  gender ratio
240            897.0                   5.4                43%           NaN
253            900.0                   9.3                14%           NaN
589            960.0                  11.3                34%           NaN
693            841.0                   1.1                 3%           NaN
738            850.0                   0.9                 0%           NaN

In [16]:
# Save the cleaned dataset to a new CSV file
df.to_csv('cleaned_ranking.csv', index=False)