# API 
-Application programming interface
-Front end interaction with Backend
-website = DOGS CEO - DOGS APLI - fetch  images of dogs

# make a get request to fetch data
url :"https://fiber.google.com/"
response = requests.get(url)
print(reponse)

In [23]:
# Create 

import sqlite3 as sql

# conncet to a database 
connection = sql.connect('BDAT.db')

#create a cursor object using the conncetion. A cursor is a control structure that enables to fetch result from the database.The cursor acts as an intermediary between the connection and the SQL query.

cursor = connection.cursor()

In [24]:
# commit the change and close the connection
connection.commit()

In [25]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
connection = sqlite3.connect("BDA.db")

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Create table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS people (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER,
                    city TEXT)''')

# Insert data using parameterized queries to prevent SQL injection
cursor.execute("INSERT INTO people (name, age, city) VALUES ('all', 31, 'CANADA')")
cursor.execute("INSERT INTO people (name, age, city) VALUES ('John', 25, 'USA')")

# Commit the changes
connection.commit()

In [26]:
# query the data from sq; table using python

# Execute a query
cursor.execute("SELECT * From people")

#  Fetch all results correctly
results = cursor.fetchall()  # 

#  Loop through the fetched results
for row in results:
    print(row)  # Print each row

(1, 'all', 31, 'CANADA')
(2, 'all', 31, 'CANADA')
(3, 'all', 31, 'CANADA')
(4, 'John', 25, 'USA')
(5, 'all', 31, 'CANADA')
(6, 'John', 25, 'USA')
(7, 'all', 31, 'CANADA')
(8, 'John', 25, 'USA')

In [27]:
 import pandas as pd
df =  pd.DataFrame(results)
df

   0     1   2       3
0  1   all  31  CANADA
1  2   all  31  CANADA
2  3   all  31  CANADA
3  4  John  25     USA
4  5   all  31  CANADA
5  6  John  25     USA
6  7   all  31  CANADA
7  8  John  25     USA

In [28]:
# Close the connection
connection.close()

In [ ]:
# web scrapping 
-Beautiful soup (python library) -pip install beautifulsoup4
-scrapy pip install scrapy